$header-color: rgba(232, 253, 245, 1);
$background-color: rgba(255, 255, 230, 1);
$svg-color: rgba(140, 39, 30, 1.0);
$footer-link-color: $svg-color;
$post-link-color: $svg-color;
$post-link-visited: rgba(132, 102, 88, 1.0);

.site-header {
    background-color: $header-color;
    border-top: 0px;
    border-bottom: 0px;
    min-height: 6vw;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.wrapper-header {
    @extend .wrapper;
    max-width: 95%;
    position: relative;
    margin-top: 3vh;
    @include media-query($on-palm) {
        margin-top: 1vh;
    }
    @include relative-font-size(1.7);
}

.site-title, .social, .site-nav {
    @include media-query($on-palm) {
        line-height: inherit;
    }
}

.page-content {
    @include media-query($on-palm) {
        padding-top: 2vh;
    }
}

.site-title {
    @include relative-font-size(2.5);
    @include media-query($on-palm) {
        @include relative-font-size(1.5);
    }
}

.social {
    display: inline;
    position: relative;
    margin-left: 2vw;
    margin-top: 7px;
    @include media-query($on-palm) {
        margin-left: 10px;
        display: inline;
    }
}

.svg-icon {
    min-width: 35px;
    min-height: 35px;
    display: inline-block;
    fill: $svg-color;
    padding-top: 5px;
    vertical-align: text-top;
    @include media-query($on-palm) {
        min-width: 30px;
        min-height: 30px;
    }
}

.site-nav {
    @include media-query($on-palm) {
        @include relative-font-size(1.5);
        top: 0;
        border: none;
        background-color: transparent;
    }

    .page-link {
        @include media-query($on-palm) {
            margin-left: 5px;
            padding: 0;
        }
    }
}

.about-img {
    float: right;
    border-radius: 50%;
    margin-left: 1.4vw;
    margin-top: 30px;
    width: 200px;
    @include media-query($on-palm) {
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    background-color: $background-color;
}

a, .post-link {
    color: $post-link-color;

    &:visited {
        color: $post-link-color;
    }

    &:hover {
        color: $post-link-color;
    }

}

.footer-heading {
    @include relative-font-size(0.7);
    margin-bottom: 0;
    text-align: center;
}

.footer-link {
    color: $svg-color;
    text-decoration: underline;

    &:visited {
        color: $svg-color;
    }

    &:hover {
        color: $svg-color;
    }
}

.inline-title {
    display: inline-grid;
    float: left;
    margin-bottom: 0px;
    @include media-query($on-palm) {
        clear: both;
    }
}

.footnotes {
    @include relative-font-size(0.8);
}

.post-link {
    font-size: 35px;
}
